{% extends 'base.html' %}

{% block title %}{{ manual.title }} - 미림마일스톤{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="card mb-4 shadow-sm">
            <div class="card-header bg-primary text-white">
                <h1 class="card-title">{{ manual.title }}</h1>
            </div>
            <div class="card-body">
                <img src="{{ manual.image.url }}" class="img-fluid mb-3" alt="{{ manual.title }}">
                <p class="card-text">{{ manual.content }}</p>
            </div>
        </div>
    </div>
{% endblock %}
