<!-- main/templates/main/home.html -->
{% extends 'base.html' %}

{% block title %}미림마일스톤{% endblock %}

{% block content %}
    <h1>미림마일스톤</h1>
    <h2>최근 게시된 질문</h2>
    <ul>
        {% for post in post_list %}
            <li><a href="{% url '게시판:post_detail' post.id %}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>

    <h2>메인터넌스 Shortcut</h2>
    <ul>
        {% for category in categories %}
        <li><a href="{% url 'manual_list_by_category' category.id %}">{{ category.name }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}