<!-- main/templates/main/home.html -->

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>미림마일스톤</title>
</head>
<body>
    <h1>미림마일스톤</h1>
    <h2>최근 게시된 질문</h2>
    <ul>
        {% for post in recent_posts %}
        <li>{{ post.title }}</li>
        {% endfor %}
    </ul>

    <h2>메인터넌스 Shortcut</h2>
    <ul>
        {% for category in categories %}
        <li><a href="{% url 'manual_list_by_category' category.id %}">{{ category.name }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>
